<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome to My Universe</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to My Universe</h1>
        <div class="emoji-container">
            <span class="wave-emoji">👋</span>
            <span class="smile-emoji">😊</span>
        </div>
    </div>
</body>
</html>
